# dependencies
node_modules/

# env files (VERY IMPORTANT)
.env

# Firebase admin private key (VERY IMPORTANT)
config/firebaseServiceAccount.json

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# build output (if any)
dist/
build/

# IDE files
.vscode/
.idea/